<div ng-controller="ChatRoomController" ng-show="isRoomClicked == true">
  <div class="chat-header">
    <h1 class="center">{{room_data.name}}</h1>
    <h3 class="center">{{room_data.users_online}}</h3>
  </div>
  <div class="chat-body">
    <div ng-repeat="message in messages">
      <div ng-class="message.name == user_logged_in ? 'chat-sent' : 'chat-received'">{{message.message}}
      </div>
      <div ng-class="message.name == user_logged_in ? 'chat-sent-name' : 'chat-received-name'">{{message.name}}</div>
    </div>
  </div>
  <div class="chat-footer">
    <input type="text" placeholder="Type a message..." class="chat-input" ng-model="user_message"></input>
    <input type="button" value="Send" class="chat-button" ng-click="saveChat()"></input>
  </div>
</div>
