.container{
	width:95%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.error{
  color: red;
}
.center{
	text-align: center;
}
.login{
  position: absolute;
  top:40%;
  left:30%;
}
.user-info{
		padding:10px;
}
.login-input{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid black;
    box-sizing: border-box;
		font-size: 12pt;
}
.login-button{
    background-color: red;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    width: 100%;
		font-size: 12pt;
}
.sidebar{
	width: 25%;
	height: 100%;
	background-color: red;
	color: white;
	position: fixed;
	overflow: auto;
}
.navlink{
	text-align: left;
	font-size: 15pt;
	display: block;
	margin-top:20px;
	margin-left: 5px;
	text-decoration: none;
	color:white;
}
.navlink:hover{
	background-color: crimson;
}
.main-chat{
	margin-left: 25%;
	padding-left:3%;
	width: auto;
}
.chat-header{
	position: relative;
	background-color: white;
	padding: 2px;
}
.chat-footer{
	position: relative;
	background-color: white;
	padding:5px;
}
.chat-body{
	position: relative;
	background-color: lightgrey;
	padding:5px;
	overflow: auto;
	height:75vh;
}
.chat-received{
	border-radius:5px;
	box-sizing: border-box;
	clear: right;
	background-color: white;
	width:50%;
	padding: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.chat-received-name{
	clear: right;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 2px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: grey;
}
.chat-sent{
	border-radius:5px;
	box-sizing: border-box;
	float: right;
	clear: both;
	background-color: red;
	width:50%;
	padding: 10px;
	margin-right: 10px;
	color: white
}
.chat-sent-name{
	float:right;
	clear: both;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-right: 2px;
	margin-bottom: 5px;
	color: lightgrey;
}
.chat-input{
	border-radius: 2px;
	box-sizing: border-box;
	border: 1px solid black;
	width: 90%;
	padding: 5px 5px;
	font-size: 12pt;
}
.chat-button{
	font-weight:bold;
	padding: 5px 5px;
	font-size: 12pt;
	width:9%;
	border:none;
	background-color: white;
}
.current-user{
	color: red;
}
.other-user{
	color: grey;
}
